.App {
  text-align: center;
  height: 100%;
}

a:hover {
  cursor: pointer;
}

.App-intro {
  font-size: large;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.caro {
  height: 300px;
  width: 200px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; 
  background-color: #eee;
  box-shadow: 2px 2px 2px 2px rgba(34, 34, 34, 0.342);
  color: #555;
  font-family: 'Montserrat Alternates', sans-serif;
}

.pageTitle {
  font-family: 'Montserrat Alternates', sans-serif;

}

.navtitle {
  width: 100%;
}

.navbarleft {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%; 
  align-items: center;
}

.navbarright {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%; 
  align-items: center;

}
